main {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.create {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  margin-top: 20px;
  background-color: #2d8cff;
  color: #ffffff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
  border-radius: 10px;
}

button:hover {
  background-color: #2681f2;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
}
